# Archivo .env para erc_insight
# Configuración de variables de entorno

FLASK_APP=wsgi.py
FLASK_ENV=development
# Cambiar a una clave secreta fuerte en producción
SECRET_KEY=clave_secreta_aqui
# URL de base de datos para entorno local y desarrollo
DATABASE_URL=sqlite:///dev.db
# Para producción, será proporcionada por Render.com

# Clave API para Google Gemini
GEMINI_API_KEY=tu_clave_api_gemini_aqui
