<section>
    <h2 class="text-xl font-bold mb-4 border-l-4 border-primary pl-3">Adherencia y Acceso</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-6 gap-y-5">
        <div>
            <label for="adherencia" class="font-medium text-sm mb-1 block">Adherencia al Tratamiento</label>
            <select id="adherencia" name="adherencia" class="input-field">
                <option value="buena">Buena</option>
                <option value="regular">Regular</option>
                <option value="mala">Mala</option>
            </select>
        </div>
        <div class="flex items-center pt-6">
             <label class="checkbox-card flex-grow"><input type="checkbox" id="barreras_acceso" name="barreras_acceso" class="h-5 w-5 mr-4"><span class="content">Barreras de Acceso (EPS/Farmacia)</span></label>
        </div>
    </div>
 </section>
